@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body{

}

#title{
    font-family: 'Satisfy', cursive, sans-serif;
    font-size: 200%;
}

h2{
    margin-top: 0 !important;
    font-size: 200% !important;
    font-weight: bold !important;
    text-align: center;
}


.card h3, .card h4{
    font-weight: bold;
    font-size: medium;
}


.text-color-blue{
    color: #2B3842 !important;
}

.back-ground-color-blue{
    background-color: #2B3842 !important;
}

.card{
    color: #2B3842 !important;
}

.card .btn{
    background-color: #2B3842;
    color: white;
}

#banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)), url('https://i.imgur.com/S8Ffdqa.png');;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #23252F;
    background-size: cover;
    width: 100%;
    height: 30rem;
    margin: 2em 0 0 0 !important;
    padding: 0 !important;
}


#second-navbar{
    height:4em;
    font-weight: bold;
    background-color: #2B3842 !important;
    font-size: large;
}

#second-navbar li{
    margin: 0 .5em;
}


.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.card{
    min-height:40rem;
    margin: 1rem .3rem 0rem .3rem;
}

.card p{
    min-height: 7em;
}

.card h3{
    min-height: 1em;
}


footer{
    margin: 5em 0;
    font-weight: bolder;
    color: #2B3842;
    text-align: center;
}

.modal h5{
    font-weight: bolder;
    color: #2B3842;
}

#icon {
    height: 2em;
    width: 2em;
    display: block;
    margin-right: 1em;
}

.btn-order{
    color: black !important;
    border-width: .1em !important;
    border-color: black !important;
    margin-right: 1em !important;
}

.back-ground-color-red{
    background-color: #FE4E5B !important;
}

.table{
    margin: 1em
}


.bold-total{
        margin-left: 1em;
        font-weight: bold !important;
}

.text-color-white{
    color: white !important;
}

.add-remove-button{
    height: 2.3em;
    width: 2.3em;
}


.back-ground-color-almost-white{
    background-color: #69757C !important;
}

